{{> header}}
<div class="container contact-form">
    <form method="POST" action="/departement">
        <div class="column">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="txtName" class="form-control" placeholder="Ajouter le departement *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                </div>
            </div>
        </div>
    </form>
{{#each isData }}
    <li>{{this.name}}</li>
{{/each}}

{{> footer}}

